@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;


}

.nav-contend{
    width: 1200px;
    /* height: 600px; */
    margin: 0px auto;
    /* background-color: aqua; */
}
.img-style{
    margin-bottom: -10px;
}
.nav-heder{
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
}
.nav-contend-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-contend-style > ul{
    display: flex;
}
.nav-contend-style li{
    list-style: none;
    margin-left: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
   
}
.nav-contend-style li a{
    text-decoration: none;

}
span{
    color: #FF5400;
}
.images-style{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 570px;
    /* margin-left: 180px; */
    width: 1200px;
    margin: 0px auto;
    text-align: center;
    
}
.images-title{
    color: #FFF;
    font-size: 50px;
    font-weight: 700px;
    padding-top: 90px;
}
.images-dolor{
    padding:0px 240px;
    color: #FFF;
}
.optionel{
    /* background-color: aqua; */
    width: 800px;
    height: 70px;
    margin: 0px auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
/* main section */
.main-section{
    width: 1200px;
    height: 650px;
    display: flex;
    margin: 0px auto;
}
.image-contianer{
   width: 50%;
   margin-left: 120px;
}
.title{
    width: 50%;
}
.title h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800px;
    
}
.title p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    font-weight: 400px;
    padding-bottom: 10px;
}
.title li{
    color:rgba(19, 19, 24, 0.70) ;
    font-size: 15px;
    font-weight: 400px;
    padding-bottom: 25px;
}
.button-style{
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 14px 35px;
    color: #FFF;
    font-size: 15px;
    font-weight: 800px;
}
/* secton is a imagess */
.row{
    width: 1200px;
    height: 1100px;
    margin: 0px auto;
}
.crowontenar-row{
    text-align: center;
}
.crowontenar-row h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800px;
}
.crowontenar-row p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    font-weight: 400px;
    padding-left: 300px;
    padding-right: 300px;
}
.image-responcive{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 13px;
}
.image-continar-recang{
    padding-left: 14px;
    gap: 25px;
    grid-template-columns: repeat(3,1fr);

    display: grid;
    padding-top: 20px;
 
}
.image-contend{
    padding-left: 14px;
    gap: 25px;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    padding-top: 20px;
}
/* box section */
.box-style{
    width: 1200PX;
    height: 800px;
    margin: 0 auto;
}
.box-contenar{
    text-align: center;
}
.box-contenar h1{
    font-size: 40px;
    font-weight: 800px;
    color: #131318;
}
.box-contenar p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    font-weight: 400px;
    padding: 0px 300px;

} 
.box-title{
    width: 50%;
    height: 300px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.box-cotntend{
    width: 50%;
    height: 300px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-left: 30px;
}
.section-style{
    display: flex;
    
}
.box-sit{
    width: 50%;
    height: 300px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 330px;
    margin-top: 20px;
}
.box-title img{
    height: 50px;
    padding-left: 30px;
    padding-top: 30px;
}
.box-title h1{
    font-size: 25px;
    font-weight: 800px;
    padding-left: 30px;
    color: #131318;
}
.box-title p{
    font-size: 15px;
    font-weight: 400px;
    color: #5A5A5D;
    padding: 0px 30px;

}
.box-cotntend img{
    height: 50px;
    padding-left: 30px;
    padding-top: 30px;

}
.box-cotntend h1{
    font-size: 25px;
    font-weight: 800px;
    padding-left: 30px;
    color: #131318;
}
.box-cotntend p{
    font-size: 15px;
    font-weight: 400px;
    color: #5A5A5D;
    padding: 0px 30px;
}
.box-sit img{
    height: 50px;
    padding-left: 30px;
    padding-top: 30px;
}
.box-sit h1{
    font-size: 25px;
    font-weight: 800px;
    padding-left: 30px;
    color: #131318;
}
.box-sit p{
    font-size: 15px;
    font-weight: 400px;
    color: #5A5A5D;
    padding: 0px 30px;
}
/* @media screen and (max-width:576px) {
    .nav-contend{
        width: 300px;
        height: 64px;
        flex-direction: column;
    }
} */